* {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 75%;
}

/* GENERAL HUD */
.champ-hud {
  position: fixed;
  bottom: 0;
  left: 26.93%;
  width: 42.35%;
  height: 14%;
  gap: 2px;

  display: flex;
  flex-direction: row;
  padding: 2px;
}

.champ-runes {
  flex-basis: 18%;
  border-radius: 50%;
}


.champ-abilities {
  padding-left: 2%;
  padding-right: 1%;
  flex-basis: 54%;
}

.champ-inventory {
  color: lime;
  flex-basis: 28%;
}

/* ABILITY CHAMPION SECTION */
.ability {
  height: 100%;
}

#spellPassive-tooltip_wrapper,
#spellQ-tooltip_wrapper,
#spellW-tooltip_wrapper,
#spellE-tooltip_wrapper,
#spellR-tooltip_wrapper,
#summoner1-tooltip_wrapper,
#summoner2-tooltip_wrapper {
  min-height: 30%;
  max-width: 16%;
  padding: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 50%, rgba(34,34,34,1) 100%);
}

.champ-abilities {
  display: grid;
  grid-template-columns: 73.42% 1fr;
  gap: 1%;
}

.champ-abilities_spells {
  display: flex;
  flex-direction: row;
  padding: 7% 0;
  gap: 3.7%;
}

.spellPassive-wrapper{
  flex-basis: 14%;
  height: 33.65%;
}

.spellPassive {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.spellQ-wrapper,
.spellW-wrapper,
.spellE-wrapper,
.spellR-wrapper {
  flex-basis: 21.5%;
  height: 52%;
}

.spellQ,
.spellW,
.spellE,
.spellR {
  width: 100%;
  height: 100%;
}

.tooltip {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.8rem;
  padding: 3% 3% 6% 3%;
}

.tooltip-header {
  display: grid;
  grid-template-columns: 3rem auto;
}

.tooltip-header img {
  width: 100%;
  border: 1px solid rgba(218, 165, 32, 0.5);
}

.tooltip-header div {
  text-align: end;
}

.tooltip-header p {
  font-size: smaller;
}

.tooltip-main {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgb(93, 93, 93);
  padding-top: 2%;
}

.runes {
  display: grid;
  place-content: center;
  height: 100%;
}

/* ABILITIES SUMMONERS SECTION */
.champ-abilities_summoners {
  display: flex;
  flex-direction: row;
  padding: 20% 5%;
  gap: 7%;
}

.summoner1-wrapper,
.summoner2-wrapper {
  width: 50%;
  height: 38%;
}

.summoner1,
.summoner2 {
  width: 100%;
  height: 100%;
}

.summoner1:hover,
.summoner2:hover,
.spellPassive:hover,
.spellQ:hover,
.spellW:hover,
.spellE:hover,
.spellR:hover {
  background-color: rgba(255, 255, 255, 0.137);  
}


@media (min-width: 1250px) {
  p {
    font-size: 100%;
  }

  .champ-abilities_spells {
    padding: 7% 1% 7% 3%;
    gap: 4.5%;
  }

  .spellPassive-wrapper {
    flex-basis: 15%;
  }

  .spellQ-wrapper,
  .spellW-wrapper,
  .spellE-wrapper,
  .spellR-wrapper {
    flex-basis: 20.75%;
  }
}