* {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 75%;
}

/* GENERAL HUD */
.champ-hud {
  border: 1px solid red;

  position: fixed;
  bottom: 0;
  left: 26.93%;
  width: 42.35%;
  height: 14%;
  gap: 2px;

  display: flex;
  flex-direction: row;
  padding: 2px;
}

.champ-runes {
  color: gold;
  flex-basis: 18%;
  border: 1px solid gold;
  border-radius: 50%;
}


.champ-abilities {
  color: blue;
  flex-basis: 54%;
  border: 1px solid blue;
}

.champ-inventory {
  color: lime;
  flex-basis: 28%;
  border: 1px solid lime;
}

/* ABILITY CHAMPION SECTION */
.ability {
  height: 100%;
}

#spellPassive-tooltip_wrapper,
#spellQ-tooltip_wrapper,
#spellW-tooltip_wrapper,
#spellE-tooltip_wrapper,
#spellR-tooltip_wrapper,
#summoner1-tooltip_wrapper,
#summoner2-tooltip_wrapper {
  min-height: 30%;
  max-width: 12%;
  padding: 1%;
}

.champ-abilities {
  display: grid;
  grid-template-columns: 73.42% 1fr;
  gap: 1%;
}

.champ-abilities_spells {
  border: 1px solid rgb(179, 0, 255);
  display: flex;
  flex-direction: row;
  padding: 7% 0;
  gap: 3.7%;
}

.spellPassive-wrapper{
  flex-basis: 14%;
  height: 33.65%;
  border: 1px solid blue;
}

.spellPassive {
  background-color: rgba(245, 4, 4, 0.144);
  display: inline-block;
  width: 100%;
  height: 100%;
}

.spellQ-wrapper,
.spellW-wrapper,
.spellE-wrapper,
.spellR-wrapper {
  flex-basis: 21.5%;
  height: 52%;
  border: 1px solid blue;
}

.spellQ,
.spellW,
.spellE,
.spellR {
  background-color: rgba(245, 4, 4, 0.732);
  width: 100%;
  height: 100%;
}

.runes {
  background-color: rgba(255, 217, 0, 0.393);
  display: grid;
  place-content: center;
  height: 100%;
  border-radius: 50%;
}

/* ABILITIES SUMMONERS SECTION */
.champ-abilities_summoners {
  border: 1px solid rgb(255, 4, 0);

  display: flex;
  flex-direction: row;
  padding: 20% 5%;
  gap: 7%;

}

.summoner1-wrapper,
.summoner2-wrapper {
  width: 50%;
  height: 38%;
  border: 1px solid blue;
}

.summoner1,
.summoner2 {
  background-color: rgba(245, 4, 4, 0.732);
  width: 100%;
  height: 100%;
}


@media (min-width: 1250px) {
  p {
    font-size: 100%;
  }

  .champ-abilities_spells {
    padding: 7% 1% 7% 3%;
    gap: 4.5%;
  }

  .spellPassive-wrapper {
    flex-basis: 15%;
  }

  .spellQ-wrapper,
  .spellW-wrapper,
  .spellE-wrapper,
  .spellR-wrapper {
    flex-basis: 20.75%;
  }
}